# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# CatBoost
catboost_info/

# Model artifacts
*.pkl
*.pth

# Environment variables
.env

# Build/packaging
*.egg-info/
dist/
build/
